.card{
   
    width: 250px;
    height: 350px;
    margin: 2px;
    box-shadow: 2px 2px 2px;
    border-radius: 3px;

}

.img{
    width: 250px;
    height: 200px;
}

.btn{
    color: white;
    background-color: blue;
    
}